<%- include('partials/_header'); -%>


<div class="container">
	<div class="row">
		<!-- form -->
		<div class="col-md-5">
			<div class="card">
				<div class="card-body">
					<form action="/add" method="post">
						<div class="form-group">
							<input type="text" name="title" placeholder="Ingrese un titulo" class="form-control">
                            </div>
							<div class="form-group">
								<textarea name="description" cols="80" class="form-control" placeholder="Ingrese un titulo">
                                </textarea>
							</div>
							<button type="submit" class="btn btn-primary btn-block"> Agregar tarea
                            </button>
					</form>
				</div>
			</div>
		</div>
		<!-- list -->
		<div class="col-md-7">
			<table class="table">
				<thead class="thead-dark" style="text-align: center;">
					<tr>
						<th scope="col">N#</th>
						<th scope="col">Titulo</th>
						<th scope="col">Descripcion</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody style="text-align: center;">

                    <% for(var i= 0; i < tasks.length; i++) { %>

                        <tr>
                            <th scope="row"><%= i + 1 %></th>
                            <td><%= tasks[i].title %></td>
                            <td><%= tasks[i].description %></td>
                            <td>
                                <a>
                                <% if (tasks[i].status == true) { %>
                                    <button type="button" class="btn btn-success">Activado</button>
                                <% } else { %>
                                    <button type="button" class="btn btn-dark">Desactivado</button>
                                <% } %>
                                </a>
                                <a href="/delete/<%= tasks[i]._id %>" onclick="return confirm('Are you sure?')" class="btn btn-danger">Eliminar</a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Editar</a>
                            </td>

					    </tr>

                    <% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%- include('partials/_footer'); -%>