<%- include('partials/_header'); -%>


<div class="container">
	<div class="row">
		<!-- form -->
		<div class="col-md-5">
			<div class="card">
				<div class="card-body">
					<form action="/add" method="post">
						<div class="form-group">
							<input type="text" name="title" placeholder="Ingrese un titulo" class="form-control">
                            </div>
							<div class="form-group">
								<textarea name="description" cols="80" class="form-control" placeholder="Ingrese un titulo">
                                </textarea>
							</div>
							<button type="submit" class="btn btn-primary btn-block"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                                </svg> Agregar tarea
                            </button>
					</form>
				</div>
			</div>
		</div>
		<!-- list -->
		<div class="col-md-7">
			<table class="table">
				<thead class="thead-dark" style="text-align: center;">
					<tr>
						<th scope="col">N#</th>
						<th scope="col">Titulo</th>
						<th scope="col">Descripcion</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody style="text-align: center;">

                    <% for(var i= 0; i < tasks.length; i++) { %>

                        <tr>
                            <th scope="row"><%= i + 1 %></th>
                            <td><%= tasks[i].title %></td>
                            <td><%= tasks[i].description %></td>
                            <td>
                                <a>
                                <% if (tasks[i].status == true) { %>
                                    <button type="button" class="btn btn-outline-success btn-sm">
                                        Activado
                                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                                        </svg>
                                    </button>
                                <% } else { %>
                                   <button type="button" class="btn btn-outline-dark btn-sm">
                                        Desactivado
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                                        </svg>
                                    </button>
                                <% } %>
                                </a>
                                <a href="/delete/<%= tasks[i]._id %>" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger btn-sm">Eliminar 
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                    </svg>
                                </a>
                                <a href="/edit/<%= tasks[i]._id %>" class="btn btn-outline-info btn-sm">Editar 
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                            </td>

					    </tr>

                    <% } %>
				</tbody>
			</table>
		</div>

        <div class="container">
            <div class="ZipDatatable">
                <table id="ZipcodesTable" class="table table-bordered table-sm">
                    <tr>
                        <th>ISA</th>
                        <th>po</th>
                        <th>asin_units</th>
                        <th>asin</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

	</div>
</div>



<%- include('partials/_footer'); -%>
<script>
$(document).ready(function () {
       $('#ZipcodesTable').DataTable({
            "paging": true,
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "data":"json",
                "url": "/"
            },
                "columns":
                    [
                        { "data": "ISA" },
                        { "data": "po" },
                        { "data": "asin_units" },
                        { "data": "asin" }
                    ]
            
        });
    });
    </script>
